*{
  box-sizing: border-box;
}

div h2{
  font-size: 16px;
}

div{
  background-color: #ECECDA;
  border-radius: 15px;
  width: 60%;
  padding: 1%;
  margin: 20px;
  margin-left: 20%;
}

div img{
  margin: 0 auto;
}

a{
  text-decoration-style: none;
}

footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 150px;
  background-color: black;
}

footer input, footer button{
  margin: 30px 30px 0 30px ;
}
